<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wcyv90.x.tcc.tx.db.mapper.TccTransactionMapper">
    <resultMap type="com.wcyv90.x.tcc.tx.core.TccTransaction" id="tccTx">
        <id column="ID" property="id"/>
        <result column="TCC_TX_ID" property="tccTxId"/>
        <result column="PHASE" property="phase"/>
        <result column="TYPE" property="type"/>
        <result column="COMPENSATION_EVENT" property="compensationEvent"/>
        <result column="COMPENSATION_INFO" property="compensationInfo"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="RETRY_TIMES" property="retryTimes"/>
    </resultMap>

    <select id="getByTccTxIdForUpdate" resultMap="tccTx">
        SELECT
            `ID`, `TCC_TX_ID`, `PHASE`, `TYPE`, `COMPENSATION_EVENT`,
            `COMPENSATION_INFO`, `CREATE_TIME`, `UPDATE_TIME`, `RETRY_TIMES`
        FROM
            `X_TCC_TRANSACTION`
        WHERE
            `TCC_TX_ID` = #{tccTxId}
        FOR UPDATE
    </select>

    <insert id="save">
        INSERT INTO
            `X_TCC_TRANSACTION` (
            `TCC_TX_ID`, `PHASE`, `TYPE`, `COMPENSATION_EVENT`,
            `COMPENSATION_INFO`, `CREATE_TIME`, `UPDATE_TIME`, `RETRY_TIMES`)
        VALUE (
            #{tccTx.tccTxId}, #{tccTx.phase}, #{tccTx.type}, #{tccTx.compensationEvent},
            #{tccTx.compensationInfo}, now(), now(), #{tccTx.retryTimes}
        )
    </insert>

    <update id="update">
        UPDATE
            `X_TCC_TRANSACTION`
        SET
            `PHASE` = #{tccTx.phase}, `UPDATE_TIME` = now(), `RETRY_TIMES` = #{tccTx.retryTimes}
        WHERE
            TCC_TX_ID = #{tccTx.tccTxId}
    </update>

    <delete id="delete">
        DELETE FROM
            `X_TCC_TRANSACTION`
        WHERE
            TCC_TX_ID = #{tccTxId}
    </delete>

    <select id="getRootTccTransactions" resultMap="tccTx">
        SELECT
            `ID`, `TCC_TX_ID`, `PHASE`, `TYPE`, `COMPENSATION_EVENT`,
            `COMPENSATION_INFO`, `CREATE_TIME`, `UPDATE_TIME`, `RETRY_TIMES`
        FROM
            `X_TCC_TRANSACTION`
        WHERE
            `TYPE` = "ROOT"
    </select>

</mapper>