<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wcyv90.x.tcc.tx.db.mapper.TccTransactionMapper">
    <resultMap type="com.wcyv90.x.tcc.tx.core.TccTransaction" id="tccTx">
        <id column="id" property="id"/>
        <result column="tcc_tx_id" property="tccTxId"/>
        <result column="phase" property="phase"/>
        <result column="type" property="type"/>
        <result column="compensation_event" property="compensationEvent"/>
        <result column="compensation_info" property="compensationInfo"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="retry_times" property="retryTimes"/>
    </resultMap>

    <select id="getByTccTxIdForUpdate" resultMap="tccTx">
        SELECT
            `id`, `tcc_tx_id`, `phase`, `type`, `compensation_event`,
            `compensation_info`, `create_time`, `update_time`, `retry_times`
        FROM
            `x_tcc_transaction`
        WHERE
            `tcc_tx_id` = #{tccTxId}
        FOR UPDATE
    </select>

    <insert id="save">
        INSERT INTO
            `x_tcc_transaction` (
            `tcc_tx_id`, `phase`, `type`, `compensation_event`,
            `compensation_info`, `create_time`, `update_time`, `retry_times`)
        VALUE (
            #{tccTx.tccTxId}, #{tccTx.phase}, #{tccTx.type}, #{tccTx.compensationEvent},
            #{tccTx.compensationInfo}, now(), now(), #{tccTx.retryTimes}
        )
    </insert>

    <update id="update">
        UPDATE
            `x_tcc_transaction`
        SET
            `phase` = #{tccTx.phase}, `update_time` = now(), `retry_times` = #{tccTx.retryTimes}
        WHERE
            `tcc_tx_id` = #{tccTx.tccTxId}
    </update>

    <delete id="delete">
        DELETE FROM
            `x_tcc_transaction`
        WHERE
            `tcc_tx_id` = #{tccTxId}
    </delete>

    <select id="getRootTccTransactions" resultMap="tccTx">
        SELECT
            `id`, `tcc_tx_id`, `phase`, `type`, `compensation_event`,
            `compensation_info`, `create_time`, `update_time`, `retry_times`
        FROM
            `x_tcc_transaction`
        WHERE
            `type` = "ROOT"
    </select>

</mapper>